{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}Default{% endblock %} - Matrix Flowr</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <script src="https://kit.fontawesome.com/23a01bc62d.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar is-primary">
        <div class="navbar-brand">
            <a href="{% url 'view_dashboard' %}" class="navbar-item">Matrix Flowr</a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="navbar-item">
                    <span>Hello, {{ user.username }}</span>
                </div>
                {% if user.is_superuser %}
                <div class="navbar-item">
                    <a href="/admin" class="button is-danger is-light"><span class="icon"><i class="fa-solid fa-screwdriver-wrench"></i></span></a>
                </div>
                {% endif %}
                <div class="navbar-item">
                    <a href="{% url 'logout_view' %}" class="button is-danger"><span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span></a>
                </div>
                {% else %}
                <div class="navbar-item">
                    <a href="{% url 'login_view' %}" class="button">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="columns">
        <div class="column is-2-desktop is-3-tablet custom-vnavbar">
            <nav class="navbar is-light is-fullwidth custom-fullheight">
                <div class="navbar-menu is-flex is-flex-direction-column is-justify-content-flex-start">
                    <div class="navbar-item is-fullwidth">
                        <a href="{% url 'view_dashboard' %}" class="button is-fullwidth is-light">Dashboard</a>
                    </div>
                    <div class="navbar-item is-fullwidth">
                        <a class="button is-fullwidth is-light">Matrices</a>
                    </div>
                    <div class="navbar-item is-fullwidth">
                        <a class="button is-fullwidth is-light">Reviews</a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="column is-10-desktop is-9-tablet custom-content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>Matrix Flowr</strong> by <a href="https://y0an.fr">Yoan Faure</a><br>© 2023</p>
        </div>
    </footer>
</body>
<script src="{% static 'js/custom.js' %}"></script>
</html>