{% extends 'base.html' %}

{% block title %}Flow {{ matrix.name }}{% endblock %}

{% block content %}
    <div class="box">
        <h2 class="title mb-2">Do you really want to delete flow <strong>{{ flow.name }}</strong> from matrix <strong>{{ matrix.name }}</strong> ?</h2>
        <div class="buttons">
            <a href="{% url 'view_matrix' matrix.id %}" class="button">Back</a>
            <a href="{% url 'delete_flow' matrix.id flow.id %}" class="button is-danger is-outlined">Delete</a>
        </div>
    </div>
{% endblock %}